.feed-form {
    width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 68px;
    input {
        width: 268px;
        height: 45px;
        border-radius: 30px;
        border: none;
        border: 0.5px solid #898989;
        padding: 0 20px;
        color: #101010;
        font-size: 13px;
        font-weight: 300;
        line-height: 24px;
    }
}