.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__item {
        width: 290px;
        &:nth-child(1){
            width: 249px;
        }
        &:nth-child(2){
            width: 251px ;
        }
        &:nth-child(3){
            width: 253px;
        }
        &:nth-child(4){
            width: 290px ;
        }
        &:nth-child(2) img {
            margin-top: 0px;
        }
    }
    &__img {
        display: block;
        margin: 0 auto;
        margin-top: 4px;
    }
    &__text {
        font-weight: 300;
        color: #3a3a3a;
        text-align: center;
        span {
            display: block;
            text-align: center;
            color: $main-color;
            font-size: 16px;
            font-weight: 700;
            margin-top: 12px;
            margin-bottom: 14px;
        }
    }
    &__bottom {
        width: 805px;
        margin: 0 auto;
        margin-top: 26px;
        .wrapper__item {
                &:nth-child(1){
                    width: 232px;
                }
                &:nth-child(2){
                    width: 257px ;
                }
                &:nth-child(3){
                    width: 211px;
                } 
                &:nth-child(2) img{
                margin-top: 4px;
                } 
        }
    }
    
}